.description {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 20px;
}

.verify-box {
  margin-top: 5px;
}

.logout-box {
}

.queue-container {
  text-align: center;

  .queue-data {
    text-align: left;
    margin-left: 30px;
  }
}
