.description {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 25px;
}

.data-container {
  text-align: center;

  .queue-data {
    text-align: left;
    margin-left: 30px;
  }
}
