.blogs{
    margin-top:30px;
    font-size:20px;
    color: #F7F5F2;
    text-decoration: underline;
}

.blogs-desc{
    margin-top:10px;
    font-size:17px;
    color: #F7F7F7;
    line-height:20px;
}

.civil-blog-btn{
    
}